doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Website Template
    link(rel="stylesheet" href="/vendor/bootstrap.min.css")
    link(rel="stylesheet" href="/css/master.css")
  body
    include ../_partials/_nav
    main
      include ../_partials/_header
      block content
      include ../_partials/_footer
    script(src="/vendor/jquery-3.2.1.slim.min.js")
    script(src="/vendor/popper.min.js")
    script(src="/vendor/bootstrap.min.js")
    script(src="/js/index.js")

