mainColor = lightGreen

html
  // height 100%
  // padding 20px

body
  font-family "Helvetica", "Arial", sans-serif
  background-color mainColor
  // background-color blue
  // border 10px solid black
  // padding 25px
  // height 100%
  // display flex
  // justify-content center
  // align-items center

  // .wrapper
  //   color black
  //   background-color white
  //   padding 15px
  //   border 2px solid black
  //   font-weight 700
  //   font-size 24px
  //   display flex
  //   justify-content space-between
  //   flex-flow column

.row
  [class|="col"]
    background-color red
    border 1px solid black
    display flex
