//- Home Page
extends ../layout.pug

block content
  .container
    .row
      .col this is column 1
        p sup
        p sup
        p sup
        p sup
        p sup
        p sup
      .col this is column 2
      .col this is column 3
      .col this is column 4
      .col this is column 5
      .col this is column 6
      .col this is column 7
  //- .wrapper
  //-   p This is PUG
